<ul class="nav pull-right">
  {% if false %} <li class='navlink-element'><span>Articles:</span></li>
  {% for link in site.navigation %}
    <li {% if page.url == link.url %}class="active navlink"{% else %}class="navlink"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
  {% endfor %}
  {% endif %}
		<li class="navlink"><a href="http://www.bayesimpact.org" >Home</a></li>
    <li class="navlink" style="margin-top:16px;"><a class="highlight-button" href="http://blog.bayesimpact.org" >Blog</a></li>
    <li class="navlink"><a href="http://www.bayesimpact.org/fellowship">Fellowship</a></li>
    <li class="navlink"><a href="http://www.bayesimpact.org/apply" >Apply</a></li>
</ul>
