/* import typography */
@import "typography.scss";

// Add your custom styling here.
body {
  padding: 0 !important;
}

.recent_posts {
  position: relative;
  padding-left: 30px;
  min-height: 200px;
  z-index: 100;
}

.navbar {
  color: white;
  margin: 0 !important;
  padding: 30px;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  &.minimized {
    padding: 0px;
    background: $navbar-color;
  }
  .brand {
    text-transform: uppercase;
  }
  .container {
    margin-top: 0;
  }

  .nav li.navlink a, .nav li.navlink-element span {
    display: block;
    padding: 0 10px;
    margin: 25px 5px;
    line-height: 35px;
    border-radius: 0;
    text-transform: uppercase;

    &:hover {
      background: inherit;
    }
  }

  .navbar-inner {
    box-shadow: none;
  }

  #back-to-main-site a {
    border: 1px solid white;
    border-radius: 12px;
    padding: 0 20px;
    margin-left: 20px;
  }
}

.jumbotron {
  text-align: center;
  padding: 200px 0;
  text-shadow: rgb(0, 0, 0) 2px 2px 9px;
  height: 400px;
  padding: 150px 0;
}

.container {
  margin-top: 50px;
}
