/* import typography */
@import "typography.scss";

// Add your custom styling here.
@media (max-width: 500px) {
  a.brand {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .navbar {
    .container {
      margin: 0 !important;
    }
  }
  .container {
    margin: 20px !important;
  }
}

@media (max-width: 980px) {
  .navbar {
    background: $navbar-color;
    padding: 0 !important;
  }
}

@media (min-width: 768px) {
  .navbar {
    height: 160px;
  }
}

body {
  padding: 0 !important;
}

.recent_posts {
  position: relative;
  z-index: 100;
}

#recent_posts {
  position: relative;
  top: -6px;
}

.navbar {
  color: white;
  margin: 0 !important;
  background: url('/images/bg.jpg') 50% 30%;
  background-size: cover;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  &.minimized {
    padding: 0px;
  }
  .brand {
    text-transform: uppercase;
  }
  .container {
    margin: 0 auto !important;
  }

  .navlink a.highlight-button{
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 5px;
  }

  .pull-right {
    padding-top: 17px;
    box-sizing: border-box;
  }

  .nav li.navlink a, .nav li.navlink-element span {
    display: block;
    padding: 6px 12px;
    margin: 9px 3px 25px;
    line-height: 20px;
    text-transform: uppercase;

    &:hover {
      background: inherit;
    }
  }

  .navbar-inner {
    box-shadow: none;
  }

  #back-to-main-site a {
    border: 1px solid white;
    border-radius: 12px;
    padding: 0 20px;
    margin-left: 20px;
  }
}

.navbar-fixed-top {
  position: fixed !important;
}

.jumbotron {
  text-align: center;
  text-shadow: rgb(0, 0, 0) 2px 2px 9px;
  height: 0px;
  padding: 0;
  background: white;
}

.container {
  margin: 40px auto 0;
  &.footer {
    margin: 0 auto;
  }
}

.sidebar {
  ul {
    list-style: none outside;
    white-space: nowrap;
    margin: 0;
    text-overflow: ellipsis;

    a {
      font-size: 14px;
    }

    li:before {
      content: "- "
    }
  }
}

.post-container {
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  font-size: 14px;
}

p.footer {
  font-size: 12px;
  border-top: 1px solid rgba(0,0,0,0.1);
}


#main p, #recent_posts .post {
  font: 18px/1.831 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
}


article h4 {
  margin-bottom: 20px;
}
